.has-text-centered {
  text-align: center;
}
.timer {
  color: #fefefe;
  font-size: 3rem;
  font-weight: bold;
}
#start {
  background-color: #2ecc71;
  border-color: #2ecc71;
}
#stop {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
#reset {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
