<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter has-text-centered">
      <div id="timer-container">
        <h2 class="timer-heading has-text-semibold" id="timer"></h2>
        <div class="timer-controls columns mt-6">
          <div class="column">
            <button class="button is-success is-outlined is-large is-fullwidth" id="button-start-timer">
              <span class="has-text-weight-bold is-uppercase">Start</span>
            </button>
          </div>
          <div class="column">
            <button class="button is-danger is-outlined is-large is-fullwidth" id="button-stop-timer">
              <span class="has-text-weight-bold is-uppercase">Stop</span>
            </button>
          </div>
          <div class="column">
            <button class="button is-info is-outlined is-large is-fullwidth" id="button-reset-timer">
              <span class="has-text-weight-bold is-uppercase">Reset</span>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
