<!doctype html>
<html lang="en">
<head>
  <title>Tomato Timer</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
  {{{body}}}
  <script src="scripts/main.js"></script>
</body>
</html>
